/* CSS variables */
:root {
    /* Spacing */
    --spacing_default: 16px;

    /* Colors */
    --color_primary: #1c1c1c;
    --color_secondary: #fafafa;

    /* Font size */
    --font-size_tiny: 0.8rem;
    --font-size_small: 0.9rem;
    --font-size_default: 16px;
    --font-size_big: 1.5rem;
    --font-size_massive: 2.5rem;
}

body {
    font-size: var(--font-size_default);
    background-color: var(--color_primary);
    color: var(--color_secondary);
}

/* Reset styling */
ul.page-content {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Pokemon overview grid styling */
.page-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: var(--spacing_default);
}